In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import collections
from collections import Counter
from itertools import combinations

In [2]:
data = pd.read_csv('movie_bd_v5.csv')
data.sample(5)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
1416,tt0419294,15000000,12036149,The Three Burials of Melquiades Estrada,Tommy Lee Jones|Barry Pepper|Dwight Yoakam|Jan...,Tommy Lee Jones,Nobody is beyond redemption.,When brash Texas border officer Mike Norton (B...,121,Adventure|Crime|Drama|Mystery|Western,The Javelina Film Company|EuropaCorp,11/17/2005,6.7,2005
1398,tt0398165,82000000,190320568,The Longest Yard,Adam Sandler|Chris Rock|Burt Reynolds|Michael ...,Peter Segal,"If you can't get out, get even.","Pro quarter-back, Paul Crewe and former colleg...",113,Comedy|Drama,Paramount Pictures|Columbia Pictures Corporati...,5/19/2005,6.2,2005
1500,tt0422295,16800000,2281089,Fur: An Imaginary Portrait of Diane Arbus,Nicole Kidman|Robert Downey Jr.|Ty Burrell|Har...,Steven Shainberg,A love story.,In 1958 New York Diane Arbus is a housewife an...,122,Drama|Mystery|Romance,River Road Entertainment|Edward R. Pressman Fi...,8/30/2006,6.3,2006
48,tt2058673,105000000,133718711,Point Break,Edgar RamÃ­rez|Luke Bracey|Teresa Palmer|Delro...,Ericson Core,The only law that matters is gravity,A young undercover FBI agent infiltrates a gan...,114,Action|Crime|Thriller,Studio Babelsberg|Alcon Entertainment|DMG Ente...,12/3/2015,5.5,2015
1496,tt0489270,10000000,163876815,Saw III,Tobin Bell|Shawnee Smith|Angus Macfadyen|Bahar...,Darren Lynn Bousman,Suffering? You Haven't Seen Anything Yet...,Jigsaw has disappeared. Along with his new app...,108,Horror|Thriller|Crime,Lions Gate Films|Twisted Pictures|Evolution En...,10/27/2006,6.0,2006

In [3]:
data.describe()

             budget       revenue      runtime  vote_average  release_year
count  1.889000e+03  1.889000e+03  1889.000000   1889.000000   1889.000000
mean   5.431083e+07  1.553653e+08   109.658549      6.140762   2007.860773
std    4.858721e+07  2.146698e+08    18.017041      0.764763      4.468841
min    5.000000e+06  2.033165e+06    63.000000      3.300000   2000.000000
25%    2.000000e+07  3.456058e+07    97.000000      5.600000   2004.000000
50%    3.800000e+07  8.361541e+07   107.000000      6.100000   2008.000000
75%    7.200000e+07  1.782626e+08   120.000000      6.600000   2012.000000
max    3.800000e+08  2.781506e+09   214.000000      8.100000   2015.000000

# Предобработка

In [4]:
answers = {} # создадим словарь для ответов

# тут другие ваши предобработки колонок например:
data['profit'] = data['revenue'] - data['budget']
data['genres'] = data.genres.apply(lambda x:x.split('|'))
data['director'] = data.director.apply(lambda x:x.split('|'))
data['cast'] = data.cast.apply(lambda x:x.split('|'))
data['production_companies'] = data.production_companies.apply(lambda x:x.split('|'))
data['release_date'] = data.release_date.apply(lambda x:x.split('/'))
data['month'] = data.release_date.apply(lambda x:int(x[0]))
data['title_lenght'] = data['original_title'].apply(lambda x: len(x))
data['overview_lenght'] = data['overview'].apply(lambda x: len(x.split()))
data['pairs'] = data['cast'].apply(lambda s:list(combinations(s,2)))
#the time given in the dataset is in string format.
#So we need to change this in datetime format
# ...

# 1. У какого фильма из списка самый большой бюджет?

Использовать варианты ответов в коде решения запрещено.    
Вы думаете и в жизни у вас будут варианты ответов?)

In [5]:
# в словарь вставляем номер вопроса и ваш ответ на него
# Пример: 
answers['1'] = '2. Spider-Man 3 (tt0413300)'
# запишите свой вариант ответа
answers['1'] = 'Pirates of the Caribbean: On Stranger Tides'
# если ответили верно, можете добавить комментарий со значком "+"

In [6]:
# тут пишем ваш код для решения данного вопроса:
data[data['budget']==data['budget'].max()].original_title.values[0]

'Pirates of the Caribbean: On Stranger Tides'

# 2. Какой из фильмов самый длительный (в минутах)?

In [7]:
# думаю логику работы с этим словарем вы уже поняли, 
# по этому не буду больше его дублировать
answers['2'] = 'Gods and Generals'

In [8]:
data[data['runtime']==data['runtime'].max()].original_title.values[0]

'Gods and Generals'

# 3. Какой из фильмов самый короткий (в минутах)?

In [9]:
answers['3'] = 'Winnie the Pooh'

In [10]:
data[data['runtime']==data['runtime'].min()].original_title.values[0]

'Winnie the Pooh'

# 4. Какова средняя длительность фильмов?

In [11]:
answers['4'] = '110'

In [12]:
round(data['runtime'].mean())

110

# 5. Каково медианное значение длительности фильмов?

In [13]:
answers['5'] = '107'

In [14]:
round(data['runtime'].median())

107

# 6. Какой самый прибыльный фильм?
#### Внимание! Здесь и далее под «прибылью» или «убытками» понимается разность между сборами и бюджетом фильма. (прибыль = сборы - бюджет) в нашем датасете это будет (profit = revenue - budget)

In [15]:
answers['6'] = 'Avatar'

In [16]:
# лучше код получения столбца profit вынести в Предобработку что в начале
data[data['profit']==data['profit'].max()].original_title.values[0]

'Avatar'

# 7. Какой фильм самый убыточный?

In [17]:
answers['7'] = 'The Lone Ranger'

In [18]:
data[data['profit']==data['profit'].min()].original_title.values[0]

'The Lone Ranger'

# 8. У скольких фильмов из датасета объем сборов оказался выше бюджета?

In [19]:
answers['8'] = '1478'

In [20]:
len(data[data['profit'] > 0])

1478

# 9. Какой фильм оказался самым кассовым в 2008 году?

In [21]:
answers['9'] = 'The Dark Knight'

In [22]:
data[data['revenue'] == data[(data['release_year']==2008)].revenue.max()].original_title.values[0]

'The Dark Knight'

# 10. Самый убыточный фильм за период с 2012 по 2014 г. (включительно)?

In [23]:
answers['10'] = 'The Lone Ranger'

In [24]:
data[data['profit'] == data[(data['release_year']>2011) & (data['release_year']<2015)].profit.min()].original_title.values[0]

'The Lone Ranger'

# 11. Какого жанра фильмов больше всего?

In [25]:
answers['11'] = 'Drama'

In [26]:
# эту задачу тоже можно решать разными подходами, попробуй реализовать разные варианты
# если будешь добавлять функцию - выноси ее в предобработку что в начале
data_genres = data.explode('genres')
data_genres.groupby(['genres'])['original_title'].count().sort_values(ascending=False).index[0]

'Drama'

# 12. Фильмы какого жанра чаще всего становятся прибыльными?

In [27]:
answers['12'] = 'Drama'

In [28]:
data_profit = data.loc[data['profit'] > 0]
data_profit_genres = data_profit.explode('genres')
data_profit_genres.groupby(['genres'])['original_title'].count().sort_values(ascending=False).index[0]

'Drama'

# 13. У какого режиссера самые большие суммарные кассовые сборы?

In [29]:
answers['13'] = 'Peter Jackson'

In [30]:
data_director = data.explode('director')
data_director.groupby(['director'])['revenue'].sum().sort_values(ascending=False).index[0]

'Peter Jackson'

# 14. Какой режисер снял больше всего фильмов в стиле Action?

In [31]:
answers['14'] = 'Robert Rodriguez'

In [32]:
data_genres = data_director.explode('genres')
data_Action = data_genres.loc[data_genres['genres'] == 'Action']
data_Action_director = data_Action.explode('director')
data_Action_director.groupby(['director'])['original_title'].count().sort_values(ascending=False).index[0]

'Robert Rodriguez'

# 15. Фильмы с каким актером принесли самые высокие кассовые сборы в 2012 году?

In [33]:
answers['15'] = 'Chris Hemsworth'

In [34]:
data_2012 = data.loc[data['release_year'] == 2012]
data_2012_cast = data_2012.explode('cast')
data_2012_cast.groupby(['cast'])['revenue'].sum().sort_values(ascending=False).index[0]

'Chris Hemsworth'

# 16. Какой актер снялся в большем количестве высокобюджетных фильмов?

In [35]:
answers['16'] = 'Matt Damon'

In [36]:
data_hightbudget = data.loc[data['budget'] > data['budget'].mean()]
data_hightbudget_cast = data_hightbudget.explode('cast')
data_hightbudget_cast.groupby(['cast'])['original_title'].count().sort_values(ascending=False).index[0]

'Matt Damon'

# 17. В фильмах какого жанра больше всего снимался Nicolas Cage?

In [37]:
answers['17'] = 'Action'

In [38]:
data_cast = data.explode('cast')
data_NicolasCage = data_cast.loc[data_cast['cast'] == 'Nicolas Cage']
data_NicolasCage_genres = data_NicolasCage.explode('genres')
data_NicolasCage_genres.groupby(['genres'])['original_title'].count().sort_values(ascending=False).index[0]

'Action'

# 18. Самый убыточный фильм от Paramount Pictures

In [40]:
answers['18'] = 'K-19: The Widowmaker'

In [41]:
data_comp = data.explode('production_companies')
data_Paramount = data_comp.loc[data_comp['production_companies'] == 'Paramount Pictures']
data_Paramount[data_Paramount['profit']==data_Paramount['profit'].min()].original_title.values[0]

'K-19: The Widowmaker'

# 19. Какой год стал самым успешным по суммарным кассовым сборам?

In [42]:
answers['19'] = '2015'

In [43]:
data.groupby(['release_year'])['revenue'].sum().sort_values(ascending=False).index[0]

2015

# 20. Какой самый прибыльный год для студии Warner Bros?

In [44]:
answers['20'] = '2014'

In [45]:
data_comp = data.explode('production_companies')
data_Warner = data_comp[data_comp['production_companies'].str.contains('Warner Bros')]
data_Warner.groupby(['release_year'])['profit'].sum().sort_values(ascending=False).index[0]

2014

# 21. В каком месяце за все годы суммарно вышло больше всего фильмов?

In [46]:
answers['21'] = '9'

In [47]:
data.groupby(['month'])['original_title'].count().sort_values(ascending=False).index[0]

9

# 22. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)

In [48]:
answers['22'] = '450'

In [49]:
data_summer = data.loc[(data['month']==6)|(data['month']==7)|(data['month']==8)]
data_summer.month.count()

450

# 23. Для какого режиссера зима – самое продуктивное время года?

In [50]:
answers['23'] = 'Peter Jackson'

In [51]:
data_winter = data.loc[(data['month']==1)|(data['month']==2)|(data['month']==12)]
data_winter_director = data_winter.explode('director')
data_winter_director.groupby(['director'])['original_title'].count().sort_values(ascending=False).index[0]

'Peter Jackson'

# 24. Какая студия дает самые длинные названия своим фильмам по количеству символов?

In [52]:
answers['24'] = 'Four By Two Productions'

In [53]:
data_comp = data.explode('production_companies')
data_comp.groupby(['production_companies'])['title_lenght'].mean().sort_values(ascending=False).index[0]

'Four By Two Productions'

# 25. Описание фильмов какой студии в среднем самые длинные по количеству слов?

In [54]:
answers['25'] = 'Midnight Picture Show'

In [55]:
data_comp = data.explode('production_companies')
data_comp.groupby(['production_companies'])['overview_lenght'].mean().sort_values(ascending=False).index[0]

'Midnight Picture Show'

# 26. Какие фильмы входят в 1 процент лучших по рейтингу? 
по vote_average

In [56]:
answers['26'] = 'Inside Out, The Dark Knight, 12 Years a Slave'

In [57]:
data = data.sort_values('vote_average', ascending=False)
data['original_title'].head(data['original_title'].count() // 100)

599                                   The Dark Knight
118                                      Interstellar
125                                The Imitation Game
9                                          Inside Out
34                                               Room
1183                          The Wolf of Wall Street
128                                         Gone Girl
1191                                 12 Years a Slave
119                           Guardians of the Galaxy
1081    The Lord of the Rings: The Return of the King
1800                                          Memento
370                                         Inception
872                                       The Pianist
138                          The Grand Budapest Hotel
1188                                              Her
28                                          Spotlight
124                                        Big Hero 6
177                            The Fault in Our Stars
Name: original_title, dtype: object

# 27. Какие актеры чаще всего снимаются в одном фильме вместе?

In [58]:
answers['27'] = 'Daniel Radcliffe, Rupert Grint'

In [59]:
data_pair = data.explode('pairs')
collections.Counter(data_pair['pairs']).most_common(1)[0][0]

('Daniel Radcliffe', 'Rupert Grint')

# Submission

In [60]:
# в конце можно посмотреть свои ответы к каждому вопросу
answers

{'1': 'Pirates of the Caribbean: On Stranger Tides',
 '2': 'Gods and Generals',
 '3': 'Winnie the Pooh',
 '4': '110',
 '5': '107',
 '6': 'Avatar',
 '7': 'The Lone Ranger',
 '8': '1478',
 '9': 'The Dark Knight',
 '10': 'The Lone Ranger',
 '11': 'Drama',
 '12': 'Drama',
 '13': 'Peter Jackson',
 '14': 'Robert Rodriguez',
 '15': 'Chris Hemsworth',
 '16': 'Matt Damon',
 '17': 'Action',
 '18': 'K-19: The Widowmaker',
 '19': '2015',
 '20': '2014',
 '21': '9',
 '22': '450',
 '23': 'Peter Jackson',
 '24': 'Four By Two Productions',
 '25': 'Midnight Picture Show',
 '26': 'Inside Out, The Dark Knight, 12 Years a Slave',
 '27': 'Daniel Radcliffe, Rupert Grint'}

In [61]:
# и убедиться что ни чего не пропустил)
len(answers)

27